@import "tailwindcss";

:root {
  --main-color: #6a2e2f;
  --second-color: #f0e8df ;
  --background : #d5d5d5;
}

input:focus,
textarea:focus,
select:focus {
  outline: none !important;
  box-shadow: none !important;
}